<form action="/shelters/<% @shelter.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<% form_authenticity_token %>">
    <input type="hidden" name="_method" value="PATCH" />
    <h1>Update Shelter:</h1>
    Name<input type='text' name='shelter[name]' value="<%= @shelter.name %>"/><br/>
    Address<input type='text' name='shelter[address]' value="<%= @shelter.address %>"/><br/>
    City<input type='text' name='shelter[city]' value="<%= @shelter.city %>"/><br/>
    State<input type='text' name='shelter[state]' value="<%= @shelter.state %>"/><br/>
    Zip Code<input type='text' name='shelter[zip]' value="<%= @shelter.zip %>"/><br/>
    <input type='submit' value='Submit'/>
</form>
