<h1>Shelters</h1>

<% @shelters.each do |shelter| %>
  <h3><%= shelter.name %></h3>
  <p><%= shelter.address %></p>
  <p><%= shelter.city %>, <%= shelter.state %> <%= shelter.zip %></p>
<% end %>

<a href="/shelters/new">New Shelter</a>
