<h1>Shelters</h1>

<% @shelters.each do |shelter| %>
  <h3><a href="/shelters/<%= shelter.id %>"><%= shelter.name %></a></h3>
  <p><%= shelter.address %></p>
  <p><%= shelter.city %>, <%= shelter.state %> <%= shelter.zip %></p>
  <a href="/shelters/<%= shelter.id %>/edit">Edit <%= shelter.name %> Information</a>
  <br><a href="/shelters/<%= shelter.id %>" data-method="DELETE">Delete <%= shelter.name %></a></br>
<% end %>

<br><a href="/shelters/new">New Shelter</a></br>
