<a href="/shelters">Shelter Index</a>
<h3><%= @shelter.name %></h3>
<p><%= @shelter.address %></p>
<p><%= @shelter.city %>, <%= @shelter.state %> <%= @shelter.zip %></p>
<a href="/shelters/<%= @shelter.id %>/edit">Update Shelter</a>
<br><a href="/shelters/<%= @shelter.id %>" data-method="DELETE">Delete Shelter</a></br>
