<h2>Update Pet:</h2>
  <%= form_tag("/pets/#{@pet.id}", method: "patch") do %>
    <%= label_tag("Image:") %>
    <%= text_field_tag(:image, @pet.image) %>
    <%= label_tag("Name:") %>
    <%= text_field_tag(:name, @pet.name) %>
    <%= label_tag("Description:") %>
    <%= text_field_tag(:description, @pet.description) %>
    <%= label_tag("Approximate Age:") %>
    <%= text_field_tag(:approximate_age, @pet.approximate_age) %>
    <%= label_tag("Sex:") %>
    <%= text_field_tag(:sex, @pet.sex) %>
    <%= submit_tag("Update Pet") %>
  <% end %>
