<h1>Pets</h1>

<% @pets.each do |pet| %>
  <h3><a href="/pets/<%= pet.id %>"><%= pet.name %></a></h3>
  <img src= <%= pet.image %>>
  <p><%= "Age: #{pet.approximate_age}" %></p>
  <p><%= "Sex: #{pet.sex}" %></p>
  <p><%= "Current Shelter: #{pet.shelter.name}" %></p>
  <p><a href="/pets/<%= pet.id %>/edit">Edit Pet Information</a>
  <br><a href="/pets/<%= pet.id %>" data-method="DELETE">Delete <%= pet.name %></a></br>
<% end %>
