<h3><%= @pet.name %></h3>
<p><%= @pet.image %></p>
<p><%= @pet.description %></p>
<p><%= @pet.approximate_age %></p>
<p><%= @pet.sex %></p>
<a href="/pets/<%= @pet.id %>/edit">Update Pet</a>
<br><a href="/pets/<%= @pet.id %>" data-method="DELETE">Delete Pet</a></br>
